.App {
  text-align: center;
}

.invalid {
  color: red;
}

.gen_image {
  height: 300px;
  width: 500px;
  padding-top: 10px;
}

.sort_by {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 33%;
}

.back_btn {
  display: flex;
  flex-direction: column;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
}

.search_btn:hover {
  cursor: pointer;
  color: rgb(247, 162, 162);
}

.back_btn:hover {
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 3, 3);
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
